@{
    ViewData["Title"] = "Deployslot";
}

<div class="text-center">
    <h1 class="display-4">Testing deployment Slots</h1>

    <p style="color:orangered;">
        new deployment feature add
    </p>
</div>
